.course-details-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    color: #000;
  }