.course-details-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  text-align: center;
  font-size: 16px;
  overflow-y: auto;
  padding: 15px;
}

.course-title {
  font-size: 24px;
}

.course-label {
  font-size: 20px;
  /* Reduce the font size for mobile */
}

.course-instructor {
  font-size: 18px;
  /* Reduce the font size for mobile */
}

.course-description,
.course-enrollment,
.course-timestamp {
  font-size: 14px;
  /* Reduce the font size for mobile */
  line-height: 1.2;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

.circle-bg {
  stroke: #eee;
}

.circle {
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.circular-chart .circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  align-items: center;

}

.evaluation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.evaluation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  position: relative;
  width: 60px;
  height: 60px;
}

.circular-chart {
  position: relative;
  width: 60px;
  height: 60px;
  margin-bottom: 2vh;
  margin-left: 1vh;
}

.evaluation-score {
  font-size: 1vw;
  /* This will scale the font size based on the width of the viewport */
  text-anchor: middle;
}

.evaluation-label {
  margin-right: 5px;
  display: inline-block;
}

.syllabus-button {
  padding: 10px 15px;
  background-color: #f15a22;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.syllabus-button:hover {
  background-color: #e14e1a;
}

.syllabus-button-container {
  text-align: center;
  padding: 20px;
}

.popover {
  display: flex;
  flex-direction: column;
  border: none;
  width: 140px;
  height: 30px;
}

.popover-content {
  border: 1px black solid;

  display: flex;
  width: auto;

  justify-content: center;
  align-items: center;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@media (max-width: 450px) {
  .course-details-container {
    height: auto;
  }
}