/* Rectangles */
  html, body {
    min-height: 80vh; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    background-color: #F5F6FA;
  }
  
  a{
    color: white;
    text-decoration: none;
  }

  .bottom-padding {
    padding-bottom: 20px;
  }
  
  #hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh; 

  }

  .Title{
    font-size: 48px;
    font-weight: 700;
    color: #f15a22;
    padding-bottom: 20px;
    text-decoration: none;
  }

  .search-bar-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  
  .search-bar {
    width: calc(100% - 40px); 
    max-width: 800px; 
  }

  .rectangle.middle {
    flex-grow: 1;
    display: flex; 
    flex-direction: column; 
    min-height: 0; 
  }


  .rectangle.middle.no-results {
    min-height: calc(100vh - 150px); 
  }
  
  .rectangle.bottom {
    margin-top: auto; 
    padding-bottom: 20px;
  }

  #logo-container {
    margin-top: -10px;
    margin-bottom: 10px; 
  }
  
  .container {
    margin-top: 20px; 
    margin-bottom: 20px; 
    max-width: 1200px;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color: var(--main-light-color);
    font-family:  Arial, Helvetica, sans-serif;
  }
  
  #hero h2 {
    color: var(--main-light-color);
    margin: 10px 0 0 0;
    font-size: 24px;
  }
  /* 'Newbook' styles */
  .title {
    color: #f15a22;
    height: 10%;
    width: 75%;
    padding-top: 2%;
    text-align: center;
    border: 0px solid black;
    z-index: 2;
    margin: auto;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-family:  Arial, Helvetica, sans-serif;
  }
  
  /* Bold text styles */
  .bold-text {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  
  /* Regular text styles */
  .regular-text {
    font-family:  Arial, Helvetica, sans-serif;
  }
  
  /* Logo styles */
  .logo {
    max-width: 120px;
    margin-left: 20px;
  }
  
  .loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  /************************ Card styles ************************/
  .result-card {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
  }
  
  .results-container {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
  }
  
  .course-list::-webkit-scrollbar {
    display: block; 
    width: 12px; 
}

.course-list::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px; 
}

.course-list {
    -ms-overflow-style: auto; 
    scrollbar-width: auto; 
    overflow-y: auto; 
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 600px; 
    width: 100%;
    background-color: white;
    z-index: 10;
    transform: translateY(-6%);
}
  
  
  .course-list .active {
    background-color: #f0f0f0;
  }
  
  .course-details {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    min-height: 350px; 
    overflow-y: auto; 
    width: 100%;
    transform: translateY(-6%);
    z-index: 10;
  }
  
  
  .no-course-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family:  Arial, Helvetica, sans-serif;
    color: #888;
  }

  .result-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    transform: translateY(-3px);
  }
  
  /* Heading styles within card */
  .card-heading {
    color: #333;
  }
  
  /************************ Pagination styles ************************/
  .pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination a {
    margin: 0 4px;
    text-decoration: none;
    padding: 8px 16px;
    background: #f8f9fa;
    color: #333;
    border-radius: 5px;
  }
  
  .pagination a.active {
    background-color: #002a5c;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }
  
  .pagination a.disabled {
    background-color: #f8f9fa;
    color: #ccc;
    pointer-events: none;
    cursor: default;
  }

  /* Error Messages */
  .error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .error-image {
    width: 300px;
    height: 300px;
  }
  
  .error-message {
    font-size: 18px;
    color: red;
  }

/* Mobile */
@media (max-width: 768px) {
  #hero {
    min-height: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    padding: 2vh 0;
    height: auto;
    margin-top: 6vh; 
  }

  #hero h1 {
    font-size: 24px; 
    line-height: 32px; 
    margin-top: -30px; 
    margin-bottom: 1vh;
    padding-bottom: 0; 
  }

  .search-bar-wrapper {
    margin-top: 2vh;
    margin-bottom: 2vh; 
  }

  .rectangle.middle.container {
    padding-top: 2vh; 
  }

  .result-card {
    margin-bottom: 2vh; 
    padding: 15px; 
  }

  .rectangle.top {
    flex-shrink: 0;
  }

  .rectangle.bottom {
    flex-shrink: 0;
    margin-top: auto;
    padding-bottom: 10px;
  }

  app-search-bar {
    position: relative;
    top: -35px; 
    margin-bottom: -20px; 
  }

  #logo-container {
    margin-bottom: 8%; 
  }

  #logo-img {
    top: -25px; 
    min-width: 260px;
  }

  .container {
    margin-top: -25px; 
    margin-bottom: 10px;
  }

  .pagination {
    margin-bottom: -1%;
  }

  .pagination a {
    padding: 6px 12px;
  }
}

@media (max-width: 450px) {
  .results-container {
    flex-direction: column;
  }

  .course-list {
    height: auto;
    max-height: 100px;
    transform: none;
  }

  .course-details {
    transform: none;
  }
}