/* Rectangles */
html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #F5F6FA;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #F5F6FA;
}

a {
  color: white;
  text-decoration: none;
}

.bottom-padding {
  padding-bottom: 20px;
}

#hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  font-size: 48px;
  font-weight: 700;
  color: #f15a22;
  padding-bottom: 20px;
  text-decoration: none;
}

.search-bar-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.search-bar {
  flex: 1;
  max-width: 800px;
}

.dropdown-filters {
  display: flex;
  gap: 10px;
}

.dropdown-filters select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  max-width: 100%;
  box-sizing: border-box;
  margin-left: 10vh;
}

.dropdown-filters select:focus {
  outline: none; 
}

.rectangle.top {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.rectangle.middle {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-height: 80vh;
  margin-top: 20px;
}

.rectangle.middle.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.rectangle.middle.no-results {
  min-height: calc(100vh - 150px);
}

.rectangle.bottom {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: auto 0; 
}

#logo-container {
  margin-top: -10px;
  margin-bottom: 10px;
}

.container {
  max-width: 1200px;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: var(--main-light-color);
  font-family: Arial, Helvetica, sans-serif;
}

#hero h2 {
  color: var(--main-light-color);
  margin: 10px 0 0 0;
  font-size: 24px;
}

/* 'Newbook' styles */
.title {
  color: #f15a22;
  height: 10%;
  width: 75%;
  padding-top: 2%;
  text-align: center;
  border: 0px solid black;
  margin: auto;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: Arial, Helvetica, sans-serif;
}

/* Bold text styles */
.bold-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

/* Regular text styles */
.regular-text {
  font-family: Arial, Helvetica, sans-serif;
}

/* Logo styles */
.logo {
  max-width: 120px;
  margin-left: 20px;
}

.loading-container {
  color: #f15a22;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-grow: 1;
  transform: translateY(15%);
  font-size: 26px;
}

/************************ Card styles ************************/
.result-card {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
}

.results-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - 320px);
}

.course-list::-webkit-scrollbar {
  display: block;
  width: 12px;
}

.course-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.course-list .active {
  background-color: #f0f0f0;
}

.course-list {
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  background-color: white;
}

/* ^ V two important CSS */

.course-details {
  overflow-y: auto;
}

.course-details-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.course-details:not(.no-course-selected) {
  overflow-y: auto;
}

.no-course-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.result-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  transform: translateY(-3px);
}

/* Heading styles within card */
.card-heading {
  color: #333;
}

.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-results-image,
.error-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.no-course-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.empty-image {
  max-width: 350px;
  max-height: 250px
}

/************************ Pagination styles ************************/
.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  margin: 0 4px;
  text-decoration: none;
  padding: 8px;
  width: 36px;
  height: 36px;
  text-align: center;
  background: #f8f9fa;
  color: #333;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.pagination a.disabled {
  background-color: #f8f9fa;
  color: #ccc;
  pointer-events: none;
  cursor: not-allowed; 
}

.pagination a.active {
  background-color: #0C2340;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.pagination a.disabled {
  background-color: #f8f9fa;
  color: #ccc;
  pointer-events: none;
  cursor: default;
}

/* Error Messages */
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.error-message {
  font-size: 18px;
  color: red;
}

.no-results-message {
  color: #000;
}

@media (max-width: 1300px) {
  body {
    margin: auto;
  }
}

@media (max-width: 768px) {
  #hero {
    margin-top: 0vh;
  }

  .dropdown-filters select {
    margin-left: 11vw;
    margin-top:5px;
  }

  .rectangle.top {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar-wrapper,
  .search-bar-container {
    width: 90%;
    margin: 0;
    padding: 10px 10px;
    flex-direction: column;
  }

  .search-bar {
    width: 100%;
    margin-top: 10px;
  }

  .rectangle.middle {
    flex: 0 0 auto;
    padding: 10px;
    margin-top: 20px;
    width: 100%; 
    box-sizing: border-box;
  }

  .rectangle.middle.container {
    display: block; 
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }

  .results-container {
    flex-direction: column;
    min-height: 400px;
    gap: 10px;
  }

  .course-list,
  .course-details-container {
    max-height: none;
    overflow-y: auto;
  }

  .pagination {
    padding: 10px 0;
  }

  .rectangle.bottom {
    padding: 10px;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .rectangle.top {
    padding: 0px;
  }

  .rectangle.middle {
    margin-top: 10px; 
  }

  .rectangle.bottom {
    padding: 5px;
  }

  .empty-image {
    max-width: 250px;
    max-height: 150px;
  }
}

@media (max-width: 450px) {
  .search-bar-container {
    padding: 0 5px;
  }

  .rectangle.middle.container,
  .rectangle.bottom {
    padding: 10px 5px;
  }

  .empty-image {
    max-width: 200px;
    max-height: 150px;
  }
}
