<div id="hero">
  <div class="container">
    <h1>About Us</h1>
    <div class="team-container">
      <div class="team-section">
        <h3 class="section-title">Data Science Team</h3>
        <div class="team-members">
          <ng-container *ngFor="let profile of profiles">
            <div class="team-member" *ngIf="profile.role.includes('Data Scientist')" (click)="selectProfile(profile)">
              <img [src]="profile.imageUrl" alt="Profile Image" class="profile-image">
              <h3>{{ profile.name }}</h3>
              <p>{{ profile.role }}</p>
              <a [href]="profile.linkedInUrl" class="social-link linkedin" target="_blank"></a>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="team-section">
        <h3 class="section-title">Managerial Team</h3>
        <div class="team-members">
          <ng-container *ngFor="let profile of profiles">
            <div class="team-member" *ngIf="profile.role.includes('Manager')" (click)="selectProfile(profile)">
              <img [src]="profile.imageUrl" alt="Profile Image" class="profile-image">
              <h3>{{ profile.name }}</h3>
              <p>{{ profile.role }}</p>
              <a [href]="profile.linkedInUrl" class="social-link linkedin" target="_blank"></a>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="team-section">
      <h3 class="section-title">Web Development Team</h3>
      <div class="team-members">
        <ng-container *ngFor="let profile of profiles">
          <div class="team-member" *ngIf="profile.role.includes('Web Developer')" (click)="selectProfile(profile)">
            <img [src]="profile.imageUrl" alt="Profile Image" class="profile-image">
            <h3>{{ profile.name }}</h3>
            <p>{{ profile.role }}</p>
            <a [href]="profile.linkedInUrl" class="social-link linkedin" target="_blank"></a>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>