<div class="container">
  <!-- Web Development Team -->
  <h3 class="section-title">Web Development Team</h3>
  <div class="team-section">
    <ng-container *ngFor="let profile of profiles">
      <div class="team-member" *ngIf="profile.role.includes('Web Developer')" (click)="selectProfile(profile)">
        <img [src]="profile.imageUrl" alt="Profile Image" class="profile-image">
        <h3>{{ profile.name }}</h3>
        <p>{{ profile.role }}</p>
        <a [href]="profile.linkedInUrl" class="social-link linkedin" target="_blank"></a>
      </div>
    </ng-container>
  </div>

  <div class="small-container">
    <!-- Data Science Team -->
    <div class="small-team-section">
      <ng-container *ngFor="let profile of profiles">
        <div class="team-member" *ngIf="profile.role.includes('Data Scientist')" (click)="selectProfile(profile)">
          <img [src]="profile.imageUrl" alt="Profile Image" class="profile-image">
          <h3>{{ profile.name }}</h3>
          <p>{{ profile.role }}</p>
          <a [href]="profile.linkedInUrl" class="social-link linkedin" target="_blank"></a>
        </div>
      </ng-container>
    </div>
    <!-- Managerial Team -->
    <div class="small-team-section">
      <ng-container *ngFor="let profile of profiles">
        <div class="team-member" *ngIf="profile.role.includes('Manager')" (click)="selectProfile(profile)">
          <img [src]="profile.imageUrl" alt="Profile Image" class="profile-image">
          <h3>{{ profile.name }}</h3>
          <p>{{ profile.role }}</p>
          <a [href]="profile.linkedInUrl" class="social-link linkedin" target="_blank"></a>
        </div>
      </ng-container>
    </div>
  </div>
</div>