
<div id="left-container">
    <div id="logo-container">
        <h1 class="mb-4 text-uppercase"><strong>About Us</strong></h1>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2>Web Development</h2>
            <p>Nick</p>
        </div>
        <div class="col-lg-6">
            <h2>Data Science</h2>
            <p>micheal</p>
        </div>
        <div class="col-lg-6">
            <h2>Managerial Team</h2>
            <p>m8o</p>
        </div>
    </div>
</div>

<!-- ======= Info Box ======= -->
<div class="grid-item">
    <div class="info-container">
        <div class="title"></div>
        <div class="small-information">
            <div class="content-information"></div>
        </div>
    </div>
</div>
