#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  min-height: 100vh; 
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column; 
}

.container {
  width: 100%;
  padding: 20px;
  padding-top: 10px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
h1 {
  color: #0C2340;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-weight: bold;
}

.team-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 10px; 
}

.team-section {
  flex: 1 1 300px;
  text-align: center;
}

.section-title {
  color: #0C2340;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  flex: 1 1 140px; 
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  border: 1px solid #ddd;
}

.profile-image {
  width: 140px; 
  height: 140px; 
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member h3 {
  color: #333;
  margin: 5px 0;
  font-size: 1.2em;
}

.team-member p {
  color: #888;
  font-size: .85em;
  margin: 5px 0;
}

.social-link.linkedin {
  background-image: url('/assets/images/footer logos/blue linkedin.svg');
}

.social-link {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #007bff;
  margin-top: 10px;
  margin-bottom: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  transition: background-image 0.3s, border-color 0.3s;
}

@media (max-width: 768px) {
  .team-member {
    flex: 1 1 100px; 
  }

  .profile-image {
    width: 50px;
    height: 50px;
  }

  .team-member h3 {
    font-size: 0.875em;
  }

  .team-member p {
    font-size: 0.7em;
  }

  .social-link {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .team-container {
    flex-direction: row;
  }

  .team-section {
    width: auto; 
  }

  .team-members {
    flex-direction: row; 
  }
}
