  img {
    margin-top: 21%;
    max-width: 40%; 
    max-height: 60vh;
    align-items: center;
  }
  
  @media (max-width: 767px) {
    img {
      margin-top: 107.5%;
      margin-left: 10%;
      max-width: 80%; 
      max-height: 100vh;
      align-items: center;
    }
  }