<!-- Search Bar Container -->
<div class="search-container position-relative d-flex justify-content-center">
  <!-- Search Form -->
  <form class="search-form d-flex" (ngSubmit)="onSearch()">
    <!-- Search Input -->
    <input type="search" id="search" name="search" (focus)="onInputFocus()" (blur)="onInputBlur()"
      [(ngModel)]="inputQuery" (input)="filterSubjects()" autocomplete="off" placeholder="{{placeholder}}">
    <!-- Suggestions List (if any) -->
    <ul *ngIf="isFocused && filteredSubjects.length > 0">
      <li *ngFor="let subject of filteredSubjects" (mousedown)="selectSubject(subject)">
        {{ subject }}
      </li>
    </ul>
  </form>

  <!-- Buttons -->
  <div class="buttons">
    <!-- Search Button -->
    <div>
      <button type="button" class="btn btn-outline-success search-button" (click)="onSearch()">
        <!-- SVG for search icon -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
      </button>
    </div>
    <!-- Info Button -->
    <div>
      <button class="btn btn-outline-primary position-absolute search-button" type="button" data-bs-toggle="modal"
        data-bs-target="#infoModal">
        <!-- SVG for question mark icon -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor">
          <path fill-rule="evenodd"
            d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z" />
        </svg>
      </button>
    </div>
  </div>
  <!-- PopUp -->
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">Newbook Tips</h5>
        </div>
        <div class="modal-body">
          <p>1. Search for key terms separated by a space</p>
          <p>2. You can search by course name, course label (e.g. WRC), section number, professor name, semester, and year</p>
          <div class="evaluation-icon">
            <p>3. If there is a "<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="18" height="18"><circle cx="12" cy="12" r="8" /></svg>"
              icon in a search result, that means the course has evaluation data available (ratings)
            </p>
            <p>4. To get the best results, be specific!</p>
            <p>5. If you want to see a new feature implemented, reach out to the developers! :&#x29;</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>