.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 700px;
    width: 90vw;
    height: 40px;
    margin: auto;
    padding-top: var(--search-bar-padding-top, 0%); /* Edit the padding on your own css file */
    padding-bottom: var(--search-bar-padding-bottom, 0%); 
    letter-spacing: 0.1em;
    font-family: 'Roboto', sans-serif;
    color: #f15a22;
}

.search-container input {
    width: 100%;
    border-radius: 25px;
    border: #ffffff 1px solid;
    padding: 10px;
}

.buttons {
    max-width: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*-- inner container --*/
.search-form {
    position: relative;
    width: 100%;
}

/*-- buttons --*/
.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    border: #ffffff 1px solid;
    background-color: white;
    border-radius: 25px;

}

/*-- search button specific styles --*/
.btn-outline-success {
    right: 45px;
}

/*-- question mark button specific styles --*/
.btn-outline-primary {
    right: 0;
}

/*-- hover and focus styles for buttons --*/
.btn-outline-success:hover,
.btn-outline-primary:hover {
    background-color: #f15a22;
    color: white;
    border-color: #f15a22;
}

/*-- SVG icon fill colors --*/
.btn-outline-success svg, .btn-outline-primary svg {
    fill: #aaa;
}

/*-- SVG icon fill colors on hover --*/
.btn-outline-success:hover svg, .btn-outline-primary:hover svg {
    fill: #fcfcfc;
}

/*-- apply glow effect on focus --*/
.search-input:focus {
}