/* Base styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main search container */
.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%; 
}

/* Search form and input */
.search-form {
    display: flex;
    flex: 1;
    align-items: center;
}

.search-container input[type="search"] {
    width: 100%; 
    border-radius: 10px;
    border: 1px solid #ddd;
    height: 40px;
    padding: 10px;
}


.search-container input[type="search"]:focus {
    outline: none;
}

/* Button styles */
.buttons {
    display: flex;
    flex-shrink: 0;
}

.search-button {
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 40px;
    margin-right: 10px;
    padding: 0 15px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.buttons > :last-child {
    margin-right: 0;
}

.search-button svg {
    fill: #000;
}

.search-button:hover {
    background-color: #ddd;
    border-color: #ddd;
}

.search-button:hover svg {
    fill: #000;
}

.form-check-input:checked {
    background-color: navy;
    border-color: navy;
}

/*----------------- Pop Up Styling ---------------------*/
.modal-header {
    background-color: #051e42;
    color: #fff;
    padding: 20px;
    font-weight: bold;
    border-bottom: 5px solid #f15a22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Modal title styles to match the header links */
.modal-title {
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 24px; 
    margin: 0;
}

/* Modal body styles */
.modal-body {
    text-align: center; 
    color: #000; 
    font-weight: bold;
    font-family:  Arial, Helvetica, sans-serif;
}

/* Modal footer styles */
.modal-footer {
    background-color: #051e42;
    color: white;
    width: 100%;
    border-top: 5px solid #f15a22;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  Arial, Helvetica, sans-serif;
}

/* Modal close button */
.modal-footer .btn-secondary {
    background-color: transparent; 
    border-color: transparent; 
    color: #fff; 
    border-radius: 25px; 
    font-size: 1rem;
}

/* Hover */
.modal-footer .btn-secondary:hover {
    color: #f15a22; 
}

/*-- Autocomplete suggestions container --*/
.search-form ul {
    position: absolute;
    top: 100%; 
    left: 50%; 
    width: 100%;
    max-width: 98%; 
    transform: translateX(-50%);
    background-color: #fff;
    color: #888;
    border-top: none;
    margin-top: -1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 25px 25px;
    overflow: hidden; 
    max-height: 200px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    scrollbar-width: thin; 
    scrollbar-color: #888 #f0f0f0; 
    font-family:  Arial, Helvetica, sans-serif;
}

  
/*-- Style for each suggestion --*/
.search-form li {
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
  
.search-form li:last-child {
    border-bottom: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; 
}
  
.search-form li:hover {
    color: #333; 
}

.search-form ul {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    padding-left: 0;
}

.search-form ul::-webkit-scrollbar {
    display: none; 
}

.search-form li.highlighted {
    background-color: #e9ecef; 
    color: #495057; 
  }
  

/*----------------- Pop Up Styling Mobile ---------------------*/
@media (max-width: 450px) {
    .search-container {
        padding: 0 3vw; 
    }
    
    .search-container input[type="search"] {
        padding: 5px 3vw; 
        min-width: 50px; 
    }

    .search-button {
        padding: 5px; 
        min-width: 40px; 
        max-width: 60px; 
    }
}

@media (min-height: 700px) {
    .search-button svg{
        margin-top: .5vh;
    }
}

@media (min-height: 1000px) {
    .search-button svg{
        margin-top: .15vh;
    }
}