/* Reset list styles */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('/assets/images/UTSA background.jpg') center fixed no-repeat;
    background-size: cover;
}

#header {
    background-color: #003366; 
    background: url('https://www.utsa.edu/enrollment/img/_myUTSA/myUTSAaccount_bkg_short.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    border-bottom: 5px solid #f15a22; 
    transition: color 0.3s ease; 
}

#header-text:hover {
    color: #f15a22; 
}

/* Logo styles */
.logo {
    height: auto;
    width: 80px; 
    margin-left: 50%;
}

/* Navigation styles */
.navbar {
    display: flex;
}

.nav-wrapper {
    display: flex;
    margin-left: -10px; 
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative; 
}

.nav-item:hover {
    color: #f15a22;    
    align-items: center;
    padding: 10px; 
    position: relative; 
}

.nav-link {
    color: white; 
    text-decoration: none;
    padding: 10px 15px; 
    display: block;
    transition: color 0.3s ease; 
}

/* Dropdown styles */
.dropbtn {
    text-decoration: none;
    display: block;
    position: relative;
    cursor: pointer;
    font-weight: normal; 
    background-color: transparent;
    color: white;
    padding: 10px 15px; 
    border: none; 
    box-shadow: none; 
    cursor: pointer;
    z-index: 2; 
    transition: color 0.3s ease; 
}

.dropbtn:hover {
    color: #f15a22; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1; 
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}

.dropdown-content a {
    color: #333; 
    padding: 8px 15px; 
    text-decoration: none;
    display: block;
    font-size: 0.9em; 
}

.nav-item.dropdown {
    position: relative; 
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    color: #f15a22; 
    background-color: transparent;
    transition: color 0.3s ease; 
}
.nav-item.dropdown:hover .dropdown-content {
    display: block;
}

.nav-link:hover, .nav-item:hover > .dropbtn {
    color: #f15a22; 
}

.nav-item:not(.dropdown):hover,
.nav-item:not(.dropdown) .nav-link:hover {
    color: #f15a22; 
    transition: color 0.3s ease; 
}


/* Footer styles */
#footer-background {
    background: url('https://www.utsa.edu/enrollment/img/_myUTSA/myUTSAaccount_bkg_short.png') top no-repeat;
    color: white;
    width: 100%;
    padding: 10px 20px;
    border-top: 5px solid #f15a22;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.1em;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.192);
    position: relative;
    margin-top: auto;
    flex-shrink: 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.social-media-links, .footer-contact-info, .footer-report-bug {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-links {
    justify-content: flex-start;
}

.footer-contact-info {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap; 
}

.footer-contact-info p {
    margin: 0 10px; 
    font-size: 14px; 
    line-height: 1.6; 
}

.footer-contact-info p:first-child {
    margin-right: -1%; 
}

.footer-report-bug {
    justify-content: flex-end;
}

.footer-bottom {
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
    padding: 0 5px;
    transition: color 0.3s;
}

.footer-bottom a:hover {
    color: #f15a22;
    text-decoration: none;
}

.social-media-links {
    margin-bottom: 5px;
}

.social-link {
    display: inline-block;
    width: 32.5px;
    height: 32.5px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    transition: background-image 0.3s, border-color 0.3s;
}

.social-link:hover {
    border: 2px solid #f15a22;
    background-color: transparent;
}

/* Social media styles */
.social-link.facebook:hover  {
    background-image: url('/assets/images/footer logos/facebook orange.svg');
}

.social-link.facebook {
    background-image: url('/assets/images/footer logos/facebook white.svg');
}

.social-link.twitter:hover  {
    background-image: url('/assets/images/footer logos/twitter orange.svg');
}

.social-link.twitter {
    background-image: url('/assets/images/footer logos/twitter white.svg');
}

.social-link.youtube:hover  {
    background-image: url('/assets/images/footer logos/youtube orange.svg');
}

.social-link.youtube {
    background-image: url('/assets/images/footer logos/youtube white.svg');
}

.social-link.linkedin:hover {
    background-image: url('/assets/images/footer logos/linkedin orange.svg');
}

.social-link.linkedin {
    background-image: url('/assets/images/footer logos/linkedin white.svg');
}

.social-link.instagram:hover  {
    background-image: url('/assets/images/footer logos/instagram orange.svg');
    background-size: 60%;
}

.social-link.instagram {
    background-image: url('/assets/images/footer logos/instagram white.svg');
    background-size: 60%;
}

.report-bug {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/images/footer logos/bug white.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    color: #fff;
    border: none;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-image 0.3s, color 0.3s;
    text-decoration: none;
}

.report-bug:hover {
    background-image: url('/assets/images/footer logos/bug orange.svg');
    color: #f15a22;
    text-decoration: none;
}

/* Mobile Formatting */
@media (max-width: 767px) {
    #header {
        padding: 10px 5px;
    }

    .logo {
        max-width: 120px;
        margin-bottom: 10px;
    }

    .nav-wrapper {
        margin-top: 0;
    }

    .nav-link {
        padding: 8px 0;
    }

    .nav-link .link-text {
        display: none;
    }

    .navbar {
        padding: 0;
    }

    #footer-background {
        position: relative;
        padding: 15px 5px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom a {
        display: inline-block;
        margin: 2px;
    }

    .footer-contact-info {
        flex-direction: column;
        padding-top: 2.5%;
    }

    .footer-contact-info p {
        margin: 3px 0;
        font-size: 12px;
        line-height: 1.4;
        white-space: normal;
    }

    .social-link {
        margin: 0 5px;
    }

    main {
        padding: 15px;
    }

    html, body {
        width: 100%;
    }
}
