<div class="app-container">
    <!-- Header -->
    <header id="header" class="fixed-top">
        <a href="https://www.utsa.edu/" class="logo-container">
            <img src="assets/images/UTSA_Logo.png" alt="UTSA Logo" class="logo">
            <p class="logo-text">The University of Texas at San Antonio</p>
        </a>
            <nav class="navbar">
            <ul class="nav-wrapper">
                <li class="nav-item dropdown"><a href="/" class="dropbtn">Home</a></li>
                <li class="nav-item dropdown"><a href="https://my.utsa.edu/" class="dropbtn">myUTSA</a></li>
                <li class="nav-item dropdown"><a href="https://asap.utsa.edu/" class="dropbtn">ASAP</a></li>
                <li class="nav-item dropdown"><a href="https://onestop.utsa.edu/registration/degree-planning/degreeworks/" class="dropbtn">DegreeWorks</a></li>
                <!-- Dropdown About UTSA -->
                <li class="nav-item dropdown">
                    <a href="https://www.utsa.edu/about/" class="dropbtn">About UTSA<a href="javascript:void(0)"></a></a>                    
                    <div class="dropdown-content">
                        <!-- Dropdown Links -->
                        <a href="/about-us">About Us</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <router-outlet></router-outlet>
    </main>

<footer id="footer-background">
    <div class="footer-top">
        <!-- Contact Info -->
        <div class="footer-contact-info">
            <p>One UTSA Circle San Antonio, TX 78249 | Information 210-458-4011</p> 
        </div>
        <!-- Social Media Links -->
        <div class="social-media-links">
            <a href="https://www.facebook.com/UTSA" class="social-link facebook"></a>
            <a href="https://twitter.com/utsa" class="social-link twitter"></a>
            <a href="https://www.youtube.com/user/utsa" class="social-link youtube"></a>
            <a href="https://www.linkedin.com/school/the-university-of-texas-at-san-antonio/" class="social-link linkedin"></a>
            <a href="https://www.instagram.com/utsa/" class="social-link instagram"></a>        </div>
    </div>
    <div class="footer-bottom">
        <!-- Footer Links -->
        <div class="footer-links">
            <a href="https://utsa.edu">&copy; 2024 The University of Texas at San Antonio</a> |
            <a href="https://utsa.edu/policies">Policies</a> | 
            <a href="https://utsa.edu/policies/accessibility">Web Accessibility</a> | 
            <a href="https://utsa.edu/policies/reqlinks.html">Required Links</a> | 
            <a href="https://utsystem.edu/">UT System</a>
        </div>
        <!-- Report a Bug -->
        <div class="footer-report-bug">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfGf7xl7lSelXWlm1kIXzgthGHzf9ixsljtDe8qTOvI9TaW5Q/viewform" class="report-bug">Report a Bug</a>
        </div>
    </div>
</footer>