@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap);

@font-face {
    font-family: 'Noto Sans';
    src: url(assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf);
}

/********* REMOVING SCROLL BAR **********/
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/********* REMOVING SCROLL BAR **********/

/* Newbook Title */
#logo-container {
    height: 75px;
    justify-content: center;
    align-items: center;
    display: flex;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center
}

.App-logo {
    height: 40vmin;
    pointer-events: none
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}
