.grid-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  transition: background-color 0.3s ease;
  color: black;
}

.grid-item:hover {
  background-color: #ddd;
}

.grid-item.selected {
  background-color: #ddd;
}

.info-container {
  width: 100%;
}

.title {
  font-size: 15px;
  color: var(--text-default-color);
}