.grid-item {
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  transition: background-color 0.3s ease;
  color: black;
  padding: 10px;
  overflow: hidden;
}

.title-instructor-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 14px;
  margin: 0;
}

.instructor-evaluation-container {
  display: flex;
  align-items: center;
}

.instructor-name {
  color: #666;
}

.instructor {
  font-size: 12px;
  color: #666;
  margin: 0;
  margin-right: 5px;
}

.dash {
  font-size: 12px;
  color: #666;
  margin: 0;
}

.evaluation-icon,
.no-evaluation-icon {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.evaluation-icon svg {
  color: #0C2340;
}

.grid-item:hover {
  background-color: transparent;
}

.grid-item.selected {
  background-color: #dadbe1;
}

.info-container {
  width: 100%;
}


.title,
.instructor {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

@media (max-width: 450px) {
  .grid-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .title,
  .instructor {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
}