/* General styles */
html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #F5F6FA;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Hero section */
#hero {
  background: url('/assets/images/UTSA background.jpg') center bottom no-repeat;
  background-size: cover;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f15a22;
  min-height: 80vh;
  padding-bottom: 20px;
  background-attachment: fixed;
}

#hero h1 {
  font-size: 48px;
  font-weight: 400;
  color: #f15a22;
  margin-bottom: 20px;
}

/* About section */
.about-section {
  margin: auto;
}

.container {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.about-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.about-content h3 {
  color: #333;
}

.about-content p,
.about-content ul li {
  color: #666;
  line-height: 1.6;
}

.about-content ul {
  list-style: none;
  padding: 0;
}

.about-content ul li::before {
  color: #f15a22;
  position: absolute;
  left: 0;
  top: 0;
}

/* Rectangle styles */
.rectangle {
  width: 100%;
}

.rectangle.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-bottom: 30px;
}

.rectangle.middle {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Search bar styles */
.search-bar-wrapper {
  width: 90%;
  max-width: 800px;
}

.search-bar {
  max-width: 800px;
}

/* Mobile */
@media (max-width: 768px) {
  #hero {
    padding: 10vh 0;
    min-height: 70vh;
    background-attachment: none;
  }

  #hero h1 {
    font-size: 7vw;
    line-height: 1.2;
    margin-bottom: 3vh;
  }

  .rectangle.middle {
    padding: 0;
  }

  .container {
    width: 100%;
    padding: 15px;
  }

  .about-content {
    padding: 15px;
  }

  .about-content h3 {
    font-size: 5vw;
  }

  .about-content p,
  .about-content ul li {
    font-size: 3.5vw;
  }

  .about-content ul li::before {
    position: static;
    display: inline-block;
    margin-right: 10px;
    font-size: 4vw;
    vertical-align: middle;
  }
}

@media (max-width: 450px) {
  #hero {
    min-height: 70vh;
  }

  .search-bar-wrapper {
    padding-right: 15px;
  }
}

@media (min-width: 1900px) {
  #hero {
    background-size: 100% 100%;
  }
}

@media (min-height: 1100px) {
  #hero {
    background-size: 100% 100%;
  }
}