<section id="hero">
  <div class="rectangle top bottom-padding">
    <!-- Title -->
    <div id="logo-container">
      <h1><strong><a href="/" class="mb-4text-uppercase">NEWBOOK</a></strong></h1>
    </div>
    <!-- Search Bar -->
    <div class="search-bar-wrapper">
      <app-search-bar class="search-bar"></app-search-bar>
    </div>
  </div>
</section>

<!-- ======= About Section ======= -->
<section id="about" class="about-section">
  <div class="rectangle middle">
    <div class="container">
      <div class="about-content">
        <h3>Welcome to UTSA Newbook!</h3>
        <p>
          Newbook is UTSA's newest course catalog: a tool that allows you to easily search and evaluate over
          1000 different courses, syllabi, and professors!<br>
        </p>
        <ul>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F15A22"
              class="bi bi-check-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg> Quick search across thousands of courses</li>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F15A22"
              class="bi bi-check-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg> Access every course's syllabus</li>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F15A22"
              class="bi bi-check-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg> Professor and course ratings by students</li>
        </ul>
        <p>
          Newbook was made by a group of UTSA students as part of ACM, Rowdy Creators.
          Their goal is to make course registration and degree planning easier at UTSA.
        </p>
      </div>
    </div>
  </div>
</section>