<section id="hero">
  <div id="logo-container">
    <h1 class="mb-4text-uppercase"><strong>NEWBOOK</strong></h1>
  </div>
  <app-search-bar [isHomePage]="true"></app-search-bar>
</section>

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="assets/img/about.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <div class="white-bg">
          <h3>Welcome to UTSA Newbook!</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non rhoncus mauris. Aliquam ac interdum dolor, eu volutpat metus. Integer non ultrices dui. Nam iaculis interdum erat et porta
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Sed nisi diam, porttitor at velit nec, accumsan condimentum nunc.</li>
            <li><i class="bi bi-check-circle"></i> Aenean gravida efficitur vestibulum.</li>
            <li><i class="bi bi-check-circle"></i> Nam dapibus fermentum enim, et porttitor odio mattis ac.</li>
          </ul>
          <p>
            <br>
            Cras tristique, tortor placerat scelerisque maximus, orci augue blandit magna, eu volutpat risus lorem nec leo.
            <br><br>
            Integer in urna purus. Duis volutpat pharetra faucibus. In consectetur posuere enim, eu tristique odio.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>